langchain
langchain-core
langchain-community
langchain-ollama
langchain-huggingface
langchain-chroma
langchain-text-splitters
langgraph

sentence-transformers
torch

pypdf

requests
matplotlib
numpy
pillow
python-dateutil

streamlit
tqdm
ipython
python-dotenv

opik
openai
